@*@{
    ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline About Us";
}

<!-- Start: MAIN CONTENT -->
<div class="content">
    <div class="container">
        <!-- Start: Product description -->
        <article class="article">
            <div class="row bottom-space">
                <div class="span12">
                    <div class="page-header">
                        <h2> About NgTradeOnline<sup style="font-size: 15px;">SM</sup></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span10 offset1">
                    <p>
                        NgTradeOnline launched its online trading service in April 2010. Our industry-first 
                        offer of trading Nigerian stocks online revolutionized the market for consumer trading 
                        of stocks listed on the Nigerian stock exchange across the globe. NgTradeOnline does 
                        not charge any fee to open accounts.
                        NgTradeOnline was created with the simple idea that training to trade Nigerian stocks 
                        should be made affordable, readily available and accesible to anyone from anywhere 
                        with interest in the Nigerian financial market.</p>
                    <p>
                </div>
            </div>
        </article>
    </div>
</div>*@

@{
    Layout = null;
    ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline About Us";
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">About NgTradeOnline<sup style="font-size: 15px;">SM</sup></h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row margin-bottom-40">
        <div class="col-md-6 md-margin-bottom-40">
            <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Unify is an incredibly beautiful responsive Bootstrap Template for It works on all major web.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                <li><i class="fa fa-check color-green"></i> Elit non mi porta gravida</li>
                <li><i class="fa fa-check color-green"></i> Award winning digital agency</li>
            </ul><br />

            <!-- Blockquotes -->
            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.</p>
                <small>CEO Jack Bour</small>
            </blockquote>
        </div>

        <div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div><!--/row-->
    <!-- Meer Our Team -->
    <div class="headline"><h2>Meet Our Team</h2></div>
    <div class="row team">
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="assets/img/team/1.jpg" alt="" />
                <h3><a>Jack Bour</a> <small>Chief Executive Officer</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="assets/img/team/3.jpg" alt="" />
                <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="assets/img/team/2.jpg" alt="" />
                <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail-style">
                <img class="img-responsive" src="assets/img/team/4.jpg" alt="" />
                <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div><!--/team-->
    <!-- End Meer Our Team -->
</div><!--/container-->
<!--=== End Content Part ===-->