@{
    Layout = null;
}
<style>.gridStyle {
     border: 1px solid rgb(212,212,212);
     width: 100%; 
     height: 600px;
 }
 .green {
     color: #0c720c;
 }
 .red {
     color: #9a1414;
 }
  .right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
</style>

<div class="container content">
    <div class="panel panel-grey margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title">Nigerian Stock Exchange Daily Price List</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-3">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" ng-model="filterOptions.filterText" class="form-control search-query" placeholder="Enter Symbol">
                </div>
            </div>
            <button class="btn btn-default btn-primary" ng-click="selectAll()">All</button>
            <button class="btn btn-success" ng-click="selectGainers()">Gainers</button>
            <button class="btn btn-danger" ng-click="selectLosers()">Losers</button>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>

